body {
    margin: auto;
}

header {
 text-align: center;
 margin: 2%;
}

.button-selection,
.scores {
   display: flex;
   gap: 5rem;
   justify-content: center;
   margin: 3%;
}

.RPS-button {
    border-color: blue;
    width: 150px;
    height: 150px;
}

.scores > div {
    border-color: blue;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    width: 200px;
    height: 150px;
    display: block;
}

.playerScore > span,
.computerScore > span {
    color:aquamarine;
    font-size: 3.5em;
}

.results {
    text-align: center;
    color:aquamarine;
    background-color: blueviolet;
    border-radius: 1%;
    width: 600px;
    margin: auto;
    font-size: 1.5em;
    margin-bottom: 2%;
    padding: 2px;
}